<%= form_for @article do |f| %>
  <div class=''>
    <%= f.text_field :title, placeholder: 'Article name here', class: '', autofocus: true %>
  </div>

  <div class=''>
    <%= f.text_area :text, placeholder: 'Article details here', class: '' %>
  </div>

  <div class=''>
    <%= f.text_field :image, placeholder: 'Article name here', class: '' %>
  </div>

  <%= f.submit 'Save Article', class: '' %>
  <%= link_to 'Cancel', user_path(current_user), class: '' %>
<% end %>
