<% if current_user %>
  <div class='user' >
    <img class='user_img' src="<%= asset_path('user.png') %>">

    <ul class='list'>
      <%= link_to user_path(current_user), id: "user_#{current_user.id}", class: 'list_link' do %><li class='li'>Dashboard</li><% end %>
      <%= link_to new_article_path, class: 'list_link' do %><li class='li'>New Article</li><% end %>
      <%= link_to destroy_user_session_path, :method => :delete, class: 'list_link' do %><li class='li'>Sign Out</li><% end %>
    </ul>
  </div>
<% else %>
    <%= link_to 'LogIn', new_user_session_path, class: 'nav_link' %>
    <%= link_to 'Register', new_user_registration_path, class: 'nav_link' %>
<% end %>
